body {
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  margin: 10px;
  background: #3278bc;
  color: #FFFFFF;
  padding: 10px 0;
}

#form {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#city{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.domain {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.forecast-panel {
  border: 1px solid grey;
  background-color: whitesmoke;
  margin-bottom: 5px;
}

.main {
  text-align: center;
}

table {
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

td {
  overflow: hidden; 
}

.dayOfWeek {
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 500px) {
  .dayOfWeek {
    font-size: 20px;
  }
}

.avgTemp {
  font-size: 20px;
}

.minMaxTemp, .humidity {
  color: #7a7a7a;
}

.forecast-panel.ng-move,
.forecast-panel.ng-enter {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.forecast-panel.ng-leave.ng-leave-active,
.forecast-panel.ng-move,
.forecast-panel.ng-enter {
    opacity: 0;
}

.forecast-panel.ng-leave,
.forecast-panel.ng-move.ng-move-active,
.forecast-panel.ng-enter.ng-enter-active {
    opacity: 1;
}

.forecast-panel.ng-enter-stagger {
  transition-delay: 0.25s ;
  -webkit-transition-delay: 0.25s ;

  transition-duration: 0s ;
  -webkit-transition-duration: 0s ;
}

.graph.ng-move,
.graph.ng-enter {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.graph.ng-leave.ng-leave-active,
.graph.ng-move,
.graph.ng-enter {
    opacity: 0;
}

.graph.ng-leave,
.graph.ng-move.ng-move-active,
.graph.ng-enter.ng-enter-active {
    transition-delay: 1.25s;
    opacity: 1;
}